$primary-color: #007bff;
$secondary-color: #6c757d;
$light-gray: rgb(250, 248, 250);

#profile-container {
    .card {
      box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.1);
  
      img {
        max-height: 200px;
        object-fit: cover;
      }
  
      .card-title {
        color: $primary-color;
        margin-bottom: 15px;
      }
  
      .card-text {
        color: $secondary-color;
        font-size: 1rem;
      }
  
      .list-group-item {
        &:hover {
          background-color: $light-gray;
        }
      }
    }
  }
  