.btn {
    width: 100%;
    .btn__rounded {
        border-radius: 50px;
        .btn__rounded--small {
            font-size: 12px;
        }
        .btn__rounded--medium {
            font-size: 14px;
        }
        .btn__rounded--large {
            font-size: 16px;
        }
        .btn__rounded--red {
            background-color: red;
        }
        .btn__rounded--blue {
            background-color: blue;
        }
        .btn__rounded--green {
            background-color: green;
        }
        .btn__rounded--yellow {
            background-color: yellow;
        }
    }
    .btn__square {
        border-radius: 0;
        .btn__square--small {
            font-size: 12px;
        }
        .btn__square--medium {
            font-size: 14px;
        }
        .btn__square--large {
            font-size: 16px;
        }
        .btn__square--red {
            background-color: red;
        }
        .btn__square--blue {
            background-color: blue;
        }
        .btn__square--green {
            background-color: green;
        }
        .btn__square--yellow {
            background-color: yellow;
        }
    }
}