.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    min-height: 80;
    padding-top: 3vh;
}

canvas#pongCanvas {
    display: none;
    margin: 15px;
    background-color: #2D2D2D;
    font-family: 'Geo', sans-serif;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 
        0 0 15px var(--glow-intensity-1),
        0 0 30px var(--glow-intensity-2),
        0 0 45px var(--glow-intensity-3),
        0 0 60px var(--glow-intensity-4),
        0 0 75px var(--glow-intensity-5);
    filter: drop-shadow(0 8px 10px rgb(0, 0, 0));
    transition: transform 0.2s, filter 0.5s;
}

:root {
    --glow-color-base: 255, 255, 255; /* Base RGB color without alpha */
    --glow-intensity-1: rgba(var(--glow-color-base), 0.75);
    --glow-intensity-2: rgba(var(--glow-color-base), 0.6);
    --glow-intensity-3: rgba(var(--glow-color-base), 0.45);
    --glow-intensity-4: rgba(var(--glow-color-base), 0.3);
    --glow-intensity-5: rgba(var(--glow-color-base), 0.15);
}

.neon-text-container {
    font-size: 80px;
    color: #e0b0ff;
    font-family: 'Geo', sans-serif;
    text-align: center;
    animation: flicker 1.5s infinite alternate;    
    text-shadow: 
        0 0 5px #da70d6,
        0 0 10px #da70d6,
        0 0 20px #9932cc,
        0 0 40px #9932cc,
        0 0 80px #9400d3,
        0 0 120px #9400d3,
        0 0 200px #8a2be2;
}
    
@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: 
        0 0 4px #da70d6,
        0 0 11px #da70d6,
        0 0 19px #9932cc,
        0 0 40px #9932cc,
        0 0 80px #9400d3,
        0 0 90px #9400d3,
        0 0 100px #8a2be2,
        0 0 150px #8a2be2;
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

#scoreOverlay {
    position: absolute; /* Positioned absolutely to fit over the canvas */
    display: none;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-out; /* Adjust the speed of the fade-out effect as needed */
    pointer-events: none; /* Ensure clicks pass through to the canvas */
}

