.game-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align items horizontally */
    justify-content: flex-start; /* Align items from the top */
    position: relative; /* Relative to the viewport */
    min-height: 80; /* Full viewport height */
    padding-top: 3vh; /* Adjust based on desired starting position from top */
}

canvas#pongCanvas {
    display: none;
    margin: 3px; /* Add space above and below the canvas */
    background-color: #2D2D2D;
    font-family: 'Geo', sans-serif;
    border: 7px solid rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgba(40, 40, 40, 0.75);
    filter: drop-shadow(20 20 20px rgb(40, 40, 40));
}

.neon-text-container {
    font-size: 80px;
    color: #e0b0ff;
    font-family: 'Geo', sans-serif;
    text-align: center;
    animation: flicker 1.5s infinite alternate;    
    text-shadow: 
        0 0 5px #da70d6,
        0 0 10px #da70d6,
        0 0 20px #9932cc,
        0 0 40px #9932cc,
        0 0 80px #9400d3,
        0 0 120px #9400d3,
        0 0 200px #8a2be2;
}
    
@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: 
        0 0 4px #da70d6,
        0 0 11px #da70d6,
        0 0 19px #9932cc,
        0 0 40px #9932cc,
        0 0 80px #9400d3,
        0 0 90px #9400d3,
        0 0 100px #8a2be2,
        0 0 150px #8a2be2;
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}