<!-- pong_game.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pong/pong.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Geo&display=swap">

    <title>Pong Game</title>
</head>
<body>
    <canvas id="pongCanvas" width="800" height="400"></canvas>
    <script src="{% static 'pong/pong.js' %}" defer></script>
</body>
</html>